<form class="px-5 py-5">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter text to encrypt in caesar cipher</label>
    <textarea class="form-control" #encryptTextArea rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="onClickEncryptButton(encryptTextArea.value)">Encrypt</button>
</form>

<form class="px-5 py-5">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter text to decrypt caesar cipher</label>
    <textarea class="form-control" #decryptTextArea rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="onClickDecryptButton(decryptTextArea.value)">Decrypt</button>
</form>

<form class="px-5 py-5">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Crack caesar cipher</label>
    <textarea class="form-control" #crackTextArea rows="3">MJQQTEATWQI</textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="onClickCrackButton(crackTextArea.value)">Crack</button>
</form>